<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Hrvatski</ion-list-header>
          <ion-note>Kroatische Verben lernen</ion-note>

          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

        <div class="px-4 pt-4 pb-6 border-t border-black/10 dark:border-white/10 mt-2">
          <p class="text-xs uppercase tracking-widest opacity-50 mb-3">Lektionen</p>
          <div class="flex gap-2">
            @for (l of verbService.availableLessons(); track l) {
              <button
                type="button"
                (click)="verbService.toggleLesson(l)"
                class="flex-1 py-2 rounded-xl text-sm font-semibold border transition-colors"
                [class.bg-indigo-500]="verbService.isLessonActive(l)"
                [class.border-indigo-500]="verbService.isLessonActive(l)"
                [class.text-white]="verbService.isLessonActive(l)"
                [class.bg-transparent]="!verbService.isLessonActive(l)"
                [class.opacity-50]="!verbService.isLessonActive(l)"
              >
                L{{ l }}
              </button>
            }
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
